* {
    margin: 0;
    padding: 0;
}

.item {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 15px;
    box-sizing: border-box;
    z-index: 100;
    position: absolute;
    transition: left 300ms ease 0s, top 300ms ease 0s;
    background: #fff;
    cursor: pointer;
}

.item img {
    width: 67px;
    height: 67px;
}

.item.selected {
    background: #673AB7;
}

.item:not(.transparent) {
    border: 2px #ccc solid;
}

.item.trong {
    border: 0;
    background: transparent;
    cursor: inherit;
}

.item.cothedi {
    cursor: pointer;
}

.item.cothedi::after {
    display: inline-block;
    content: "";
    height: 28px;
    width: 28px;
    z-index: 1000;
    position: absolute;
    left: calc(50% - 14px);
    top: calc(50% - 14px);
    background: transparent url(../images/dot.png);
    background-size: cover;
    border: 2px solid #f00;
    border-radius: 50%;
    box-sizing: border-box;
}

#myCanvas {
    position: absolute;
    left: 0;
}