<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cờ ba táo - Nguyễn Đăng Dũng</title>
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        * {
            font-family: 'Courier New', Courier, monospace
        }
    .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    }
    .btn-primary {
        color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    }
    .btn-danger {
        color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    }
    </style>
</head>

<body>
    <div id="app" style="text-align: center">
            <div style="position: fixed; left: 20px; top: 20px">
                    <a href="?level=1" class="btn btn-primary">Mới chơi</a>
                    <a href="/" class="btn btn-danger">Có kinh nghiệm</a>
                </div>
        <h4 style="margin-top: 10px">Cấp độ hiện tại</h4>
        <h2 style="text-transform:uppercase">{{ level == 1 ? 'Mới chơi' : 'Có kinh nghiệm' }}</span></h2>
        <img v-if="moving" src="images/loading.gif" style="position: fixed; top: calc(50vh - 140px); left: 140px;" alt="">
        <div style="width: 500px; height:700px;background: transparent; position: relative; margin: 0 auto">
            <template v-for="row in grids">
                <div v-for="item in row" v-if="item.type != RAO"
                :class="`item ${item.type} row-${item.row} col-${item.col} ${item.moveable} ${item.row == selectedItem.row && item.col == selectedItem.col ? 'selected' : ''}`"
                v-on:click="clickItem(item.row, item.col)">
                <img :src="getItemBackgroud(item.type)">
            </div>
            </template>
            <canvas id="myCanvas"></canvas>    
        </div>
    </div>

    <script src="js/vue.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/app.js" type="module"></script>
    <script src="js/map.js" type="module"></script>
</body>

</html>